.gird-container{
    overflow-x: auto;
}
.grid {
    min-height: calc(100vh - 60px); /* Header height: 60px */
    background-color: #e1e1e4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 1rem 2rem;
    grid-auto-flow: column; /* Arrange items in a single row */
    grid-template-rows: 1fr; /* Create a single row */
    overflow-x: auto; /* Enable horizontal scrolling */
}

@media screen and (max-width:1000px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
    }
}